version: '3'

services:
  kcli:
    build:
      context: ./
      dockerfile: docker/kinesis/Dockerfile
    volumes:
      - './:/home/app'
    environment:
      - BROKER_DAEMON_HOST=kbd:27492
    networks:
      - broker
    working_dir: '/home/app'
    entrypoint: './bin/kcli'

  kbd:
    build:
      context: ./
      dockerfile: docker/kinesis/Dockerfile
    volumes:
      - './:/home/app'
      - '/data'
      # This is populated externally w/ an engine
      - 'shared:/shared'
    environment:
      - GRPC_VERBOSITY=INFO
      - GRPC_TRACE=all
      - RPC_ADDRESS=0.0.0.0:27492
      - DATA_DIR=/data
      - LND_HOST=lnd_btc:10009
      - LND_TLS_CERT=/shared/lnd-engine-tls.cert
      - LND_MACAROON=/shared/lnd-engine-admin.macaroon
      - GRPC_SSL_CIPHER_SUITES=HIGH+ECDSA
      # This address is specifically tied to the relayer network
      - ENGINE_TYPE=lnd
      - EXCHANGE_RPC_HOST=relayer:28492
    ports:
      - "27492:27492"
    networks:
      - broker
      - lnd
    working_dir: '/home/app'
    entrypoint: bash -c './bin/kbd'

volumes:
  shared:

networks:
  broker:
  lnd:
