##########################################
# sparkswap Broker-CLI and Broker-Daemon
# https://sparkswap.com
#
# The broker and engines currently default to TestNet. To adjust settings, please
# look at the associated `.env` files
#
##########################################

version: '2.4'

services:
  sparkswapd:
    image: sparkswap_sparkswapd:latest
    depends_on:
      - lnd_btc
      - lnd_ltc
    volumes:
      - './broker-daemon:/home/app/broker-daemon/'
      # TODO: This can be removed once utils are moved to a shared repo or into
      # the broker-daemon itself. broker-daemon relies on these utils for ./broker-daemon/bin/sparkswapd
      - './broker-cli:/home/app/broker-cli/'
      - './proto:/home/app/proto/'
      # block order and other sparkswap storage
      - 'sparkswapd:/data'
      # This is populated externally w/ an engine
      - 'shared:/shared'
    environment:
      # - GRPC_VERBOSITY=INFO
      # - GRPC_TRACE=all
      - NODE_PATH=.
      - RPC_ADDRESS=0.0.0.0:27492
      - INTERCHAIN_ROUTER_ADDRESS=0.0.0.0:40369
      - DATA_DIR=/data
      - ID_PRIV_KEY=/secure/broker-identity.private.pem
      - ID_PUB_KEY=/secure/broker-identity.public.pem
      - BTC_ENGINE_TYPE=LND
      - BTC_LND_RPC_HOST=lnd_btc:10009
      - BTC_LND_TLS_CERT=/shared/lnd-engine-tls-btc.cert
      - BTC_LND_MACAROON=/shared/lnd-engine-admin-btc.macaroon
      - LTC_ENGINE_TYPE=LND
      - LTC_LND_RPC_HOST=lnd_ltc:10009
      - LTC_LND_TLS_CERT=/shared/lnd-engine-tls-ltc.cert
      - LTC_LND_MACAROON=/shared/lnd-engine-admin-ltc.macaroon
      - GRPC_SSL_CIPHER_SUITES=HIGH+ECDSA
      - MARKETS=BTC/LTC
      # WARNING: only disable auth during dev
      # - DISABLE_AUTH=true
      - RELAYER_RPC_HOST=${RELAYER_RPC_HOST}
      - RELAYER_CERT_HOST=${RELAYER_CERT_HOST}
      - RELAYER_CERT_PATH=/secure/relayer-root.pem
    ports:
      - '27492:27492'
    networks:
      - broker
    working_dir: '/home/app'
    entrypoint: bash -c 'npm run start-sparkswapd'

  lnd_btc:
    image: sparkswap_lnd_btc:latest
    depends_on:
      - btcd
    ports:
      - '10113:10113'
    environment:
      - RPC_USER=${BTC_RPC_USER}
      - RPC_PASS=${BTC_RPC_PASS}
      - NETWORK=${NETWORK}
      - DEBUG=info
      - EXTERNAL_ADDRESS="${EXTERNAL_BTC_ADDRESS}:10113"
      - EXTPREIMAGE_HOST=sparkswapd:40369
    volumes:
      - 'shared:/shared'
      - 'lnd_btc:/data'
    networks:
      - broker
    logging:
      options:
        max-size: 50m

  btcd:
    image: sparkswap_btcd:latest
    volumes:
      - shared:/shared
      - bitcoin:/data
    environment:
      - RPC_USER=${BTC_RPC_USER}
      - RPC_PASS=${BTC_RPC_PASS}
      - NETWORK=${NETWORK}
      - DEBUG=info
      - DATA_DIR=/data
      - LOG_DIR=/data
      - RPC_KEY=/secure/rpc.key
      - RPC_CERT=/shared/rpc-btc.cert
      - RPC_LISTEN=0.0.0.0
      - "MINING_ADDRESS=$MINING_ADDRESS"
    networks:
      - broker
    logging:
      options:
        max-size: 50m
    entrypoint: ["./start-btcd.sh"]

  lnd_ltc:
    image: sparkswap_lnd_ltc:latest
    ports:
      - '10114:10114'
    depends_on:
      - ltcd
    environment:
      - RPC_USER=${LTC_RPC_USER}
      - RPC_PASS=${LTC_RPC_PASS}
      - NETWORK=${NETWORK}
      - DEBUG=trace
      - EXTERNAL_ADDRESS="${EXTERNAL_LTC_ADDRESS}:10114"
      - EXTPREIMAGE_HOST=sparkswapd:40369
    volumes:
      - 'shared:/shared'
      - 'lnd_ltc:/data'
    networks:
      - broker
    logging:
      options:
        max-size: 50m

  ltcd:
    image: sparkswap_ltcd:latest
    volumes:
      - shared:/shared
      - litecoin:/data
    environment:
      - RPC_USER=${LTC_RPC_USER}
      - RPC_PASS=${LTC_RPC_PASS}
      - NETWORK=simnet
      - DEBUG=info
      - DATA_DIR=/data
      - LOG_DIR=/data
      - RPC_KEY=/secure/rpc.key
      - RPC_CERT=/shared/rpc-ltc.cert
      - RPC_LISTEN=0.0.0.0
      - "MINING_ADDRESS=$MINING_ADDRESS"
    networks:
      - broker
    logging:
      options:
        max-size: 50m
    entrypoint: ["./start-ltcd.sh"]


volumes:
  shared:
  lnd_btc:
  lnd_ltc:
  bitcoin:
  litecoin:
  sparkswapd:

networks:
  broker:
