##########################################
#
# Sparkswap Broker-CLI and Broker-Daemon
# https://sparkswap.com
#
# Troubleshooting GRPC:
# - GRPC_VERBOSITY=INFO
# - GRPC_TRACE=all
#
##########################################

version: '2.4'

services:
  lnd_ltc:
    depends_on:
      - litecoind
    environment:
      - RPC_HOST=litecoind
      - ZMQPUBRAWBLOCK=tcp://litecoind:28333
      - ZMQPUBRAWTX=tcp://litecoind:28334

  litecoind:
    image: sparkswap/litecoind:0.4.1-beta
    volumes:
      - shared:/shared
      - litecoin:/data
    environment:
      - RPC_USER=${LTC_RPC_USER}
      - RPC_PASS=${LTC_RPC_PASS}
      - NETWORK=${NETWORK}
      - DEBUG=info
      - DATA_DIR=/data
      - RPC_LISTEN=0.0.0.0
    networks:
      - broker
    logging:
      options:
        max-size: 50m

volumes:
  shared:
  litecoin:

networks:
  broker:
