version: '2.4'

services:
  kbd:
    depends_on:
      - lnd_btc
      - lnd_ltc
    build:
      context: ./
      dockerfile: docker/kbd/Dockerfile
    volumes:
      - './broker-daemon:/home/app/broker-daemon/'
      - './proto:/home/app/proto/'
      - '/home/app/node_modules'
      - './node_modules/lnd-engine:/home/app/node_modules/lnd-engine'
      - './node_modules/timeout-as-promise:/home/app/node_modules/timeout-as-promise'
      - '/data'
      # This is populated externally w/ an engine
      - 'shared:/shared'
    environment:
      # - GRPC_VERBOSITY=INFO
      # - GRPC_TRACE=all
      - NODE_PATH=.
      - RPC_ADDRESS=0.0.0.0:27492
      - INTERCHAIN_ROUTER_ADDRESS=0.0.0.0:40369
      - DATA_DIR=/data
      - LND_HOST=lnd_btc:10009
      - LND_TLS_CERT=/shared/lnd-engine-tls-btc.cert
      - LND_MACAROON=/shared/lnd-engine-admin-btc.macaroon
      - GRPC_SSL_CIPHER_SUITES=HIGH+ECDSA
      # TODO: Should be removed as we will have multiple engine types
      - ENGINE_TYPE=lnd
      - EXCHANGE_RPC_HOST=docker.for.mac.host.internal:28492
      - EXCHANGE_LND_HOST=docker.for.mac.host.internal:10111
      - LND_EXTERNAL_ADDRESS=docker.for.mac.host.internal:10112
      - EXTERNAL_ADDRESS=docker.for.mac.host.internal:27492
      - MARKETS=BTC/LTC
    ports:
      - '27492:27492'
    networks:
      - broker
    working_dir: '/home/app'
    entrypoint: bash -c 'npm run start-kbd'

  lnd_btc:
    image: kinesis_lnd_btc:latest
    ports:
      - '10113:10113'
    environment:
      - RPC_USER=kuser
      - RPC_PASS=kpass
      - RPC_HOST=docker.for.mac.host.internal:18556
      - RPC_CERT_PATH=/shared/rpc-btc.cert
      - ADMIN_MACAROON=/shared/lnd-engine-admin-btc.macaroon
      - READ_ONLY_MACAROON=/shared/lnd-engine-readonly-btc.macaroon
      - INVOICE_MACAROON=/shared/lnd-engine-invoice-btc.macaroon
      - TLS_CERT_PATH=/shared/lnd-engine-tls-btc.cert
      - TLS_KEY_PATH=/secure/lnd-engine-tls-btc.key
      - NETWORK=simnet
      - CHAIN=bitcoin
      - DEBUG=info
      - RPC_LISTEN=0.0.0.0:10009
      - LISTEN=0.0.0.0:10113
      - EXTERNAL_ADDRESS=0.0.0.0:10113
      - REST_LISTEN=0.0.0.0:8101
      - DATA_DIR=/data
      - LOG_DIR=/data
      - NODE=btcd
    volumes:
      - 'shared:/shared'
      - 'lnd_btc:/data'
    networks:
      - broker
    entrypoint: ["./start-lnd.sh"]

  # This BTCD section is not used due to simnet only allowing one node to be active
  # at a time. We use shared ltcd/btcd nodes from the relayer, for the dev environment.
  #
  btcd:
    image: kinesis_btcd:latest
    volumes:
      - shared:/shared
      - bitcoin:/data
    environment:
      - RPC_USER=kuser
      - RPC_PASS=kpass
      - NETWORK=simnet
      - DEBUG=info
      - DATA_DIR=/data
      - LOG_DIR=/data
      - RPC_KEY=/secure/rpc.key
      - RPC_CERT=/shared/rpc-btc.cert
      - RPC_LISTEN=0.0.0.0
      - "MINING_ADDRESS=$MINING_ADDRESS"
      - MAX_WEB_SOCKETS=100
    entrypoint: ["./start-btcd.sh"]

  lnd_ltc:
    image: kinesis_lnd_ltc:latest
    ports:
      - '10114:10114'
    depends_on:
      - ltcd
    environment:
      - RPC_USER=kuser
      - RPC_PASS=kpass
      - RPC_HOST=docker.for.mac.host.internal:18666
      - RPC_CERT_PATH=/shared/rpc-ltc.cert
      - ADMIN_MACAROON=/shared/lnd-engine-admin-ltc.macaroon
      - READ_ONLY_MACAROON=/shared/lnd-engine-readonly-ltc.macaroon
      - INVOICE_MACAROON=/shared/lnd-engine-invoice-ltc.macaroon
      - TLS_CERT_PATH=/shared/lnd-engine-tls-ltc.cert
      - TLS_KEY_PATH=/secure/lnd-engine-tls-ltc.key
      - NETWORK=simnet
      - CHAIN=bitcoin
      - NODE=btcd
      - DEBUG=info
      - RPC_LISTEN=0.0.0.0:10009
      - LISTEN=0.0.0.0:10114
      # This address is for development only. You must change this to a
      # tld to use in a production setting
      - EXTERNAL_ADDRESS=0.0.0.0:10114
      - REST_LISTEN=0.0.0.0:8101
      - DATA_DIR=/data
      - LOG_DIR=/data
    volumes:
      - 'shared:/shared'
      - 'lnd_ltc:/data'
    # Please refer to the lnd docker file for details on exposed ports
    # ports:
    #   - '10111:10111'
    networks:
      - broker
    entrypoint: ["./start-lnd.sh"]

  # This LTCD section is not used due to simnet only allowing one node to be active
  # at a time. We use shared ltcd/btcd nodes from the relayer, for the dev environment.
  #
  ltcd:
    image: kinesis_ltcd:latest
    volumes:
      - shared:/shared
      - litecoin:/data
    environment:
      - RPC_USER=kuser
      - RPC_PASS=kpass
      - NETWORK=simnet
      - DEBUG=info
      - DATA_DIR=/data
      - LOG_DIR=/data
      - RPC_KEY=/secure/rpc.key
      - RPC_CERT=/shared/rpc-ltc.cert
      - RPC_LISTEN=0.0.0.0
      - MAX_WEB_SOCKETS=100
      # This is set dynamically in the startup scripts
      # TODO: figure out how to dynamically set this variable and prevent it from
      # triggering warnings
      - "MINING_ADDRESS=$MINING_ADDRESS"
    entrypoint: ["./start-ltcd.sh"]


volumes:
  shared:
  lnd_btc:
  lnd_ltc:
  bitcoin:
  litecoin:

networks:
  broker:
