##########################################
#
# Sparkswap Broker-CLI and Broker-Daemon
# https://sparkswap.com
#
# Troubleshooting GRPC:
# - GRPC_VERBOSITY=INFO
# - GRPC_TRACE=all
#
##########################################

version: '2.4'

services:
  sparkswapd:
    image: sparkswap/broker:0.7.0-beta-rc1
    depends_on:
      - lnd_btc
      - lnd_ltc
    volumes:
      # block order and other sparkswap storage
      - 'sparkswapd:/data'
      # This is populated externally w/ an engine
      - 'shared:/shared'
      # Persistent certs/keys for broker
      - '${SECURE_PATH}:/secure'
    environment:
      - NODE_ENV=production
      - DATA_DIR=${DATA_DIR:-}
      - NETWORK=${NETWORK}
      - RPC_HTTP_PROXY_ADDRESS=${RPC_HTTP_PROXY_ADDRESS:-}
      - RPC_USER=${RPC_USER}
      - RPC_PASS=${RPC_PASS}
      - RPC_PUB_KEY=${RPC_PUB_KEY:-}
      - RPC_PRIV_KEY=${RPC_PRIV_KEY:-}
      - ID_PRIV_KEY=${ID_PRIV_KEY:-}
      - ID_PUB_KEY=${ID_PUB_KEY:-}
      - RELAYER_RPC_HOST=${RELAYER_RPC_HOST}
      - RELAYER_CERT_PATH=${RELAYER_CERT_PATH:-}
    ports:
      - '27492:27492'
      - '27592:27592'
    networks:
      - broker
    working_dir: '/home/app'

  lnd_btc:
    image: sparkswap/lnd_btc:0.5.3-beta
    ports:
      - '10113:9735'
    environment:
      - RPC_USER=${BTC_RPC_USER}
      - RPC_PASS=${BTC_RPC_PASS}
      - RPC_HOST=${BTC_RPC_HOST:-}
      - EXTERNAL_ADDRESS=${EXTERNAL_BTC_ADDRESS:-}
      - EXTERNAL_PORT=10113
      - NETWORK=${NETWORK}
      - DEBUG=info
      - EXTPREIMAGE_HOST=sparkswapd:40369
      - ZMQPUBRAWBLOCK=${BTC_ZMQPUBRAWBLOCK:-}
      - ZMQPUBRAWTX=${BTC_ZMQPUBRAWTX:-}
    volumes:
      - 'shared:/shared'
      - 'lnd_btc:/data'
    networks:
      - broker
    logging:
      options:
        max-size: 50m
    restart: on-failure

  lnd_ltc:
    image: sparkswap/lnd_ltc:0.5.3-beta
    ports:
      - '10114:9735'
    environment:
      - RPC_USER=${LTC_RPC_USER}
      - RPC_PASS=${LTC_RPC_PASS}
      - RPC_HOST=${LTC_RPC_HOST:-}
      - EXTERNAL_ADDRESS=${EXTERNAL_LTC_ADDRESS:-}
      - EXTERNAL_PORT=10114
      - NETWORK=${NETWORK}
      - DEBUG=info
      - EXTPREIMAGE_HOST=sparkswapd:40369
      - ZMQPUBRAWBLOCK=${LTC_ZMQPUBRAWBLOCK:-}
      - ZMQPUBRAWTX=${LTC_ZMQPUBRAWTX:-}
    volumes:
      - 'shared:/shared'
      - 'lnd_ltc:/data'
    networks:
      - broker
    logging:
      options:
        max-size: 50m
    restart: on-failure

volumes:
  shared:
  lnd_btc:
  lnd_ltc:
  sparkswapd:

networks:
  broker:
